# Кэш и временные файлы Python
*.py[cod]
*.pyo
__pycache__/

# IDE
.idea/
.vscode/

# Виртуальное окружение
venv/

# Исключаем все Excel-файлы .xlsm
*.xlsm

# ...кроме шаблона
!excel/Finmodel_Template.xlsm

# Логи
*.log
log/

# PyInstaller временные файлы
build/
dist/
*.spec

# Coverage
.coverage
release_exe/